page-login {
	.bg-login {
		background-color: #f04e53;
		min-height: 100%;
		overflow: hidden;
		position: relative;
		z-index: 0;
		.bg-logo {
			min-height: 100vh;
			background-image: url('../assets/img/logo.png');
			background-repeat: no-repeat;
			background-size: 65%;
			background-position: center center;
			// padding-bottom: 20px;
		}
		h1 {
			color:#ebecff;
			font-size: 42px;
			font-weight: 700;
			padding-top: 40px;
			margin: 0;
			position: relative;
		}
		h3 {
			position: relative;
			color:#ebecff;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	.bg-login:before {
	    content: " ";
	    position: absolute;
	    width: 200%;
	    height: 175px;
	    background-color: #f04e53;
	    display: block;
	    transform: rotate(-50deg);
	    right: -100px;
	    top: -50px;
	    border-bottom: 50px solid #f26558;
	    z-index: -1;
	}
	.bg-login:after {
	    content: " ";
	    position: absolute;
	    width: 200%;
	    height: 175px;
	    background-color: #f04e53;
	    display: block;
	    -webkit-transform: rotate(-50deg);
	    transform: rotate(-50deg);
	    left: -100px;
	    bottom: -50px;
	    border-top: 50px solid #f26558;
	    z-index: -1;
	}

	.form-control {
		border-radius: 10px;
		border:none !important;
		padding: 0px 10px;
		background-color: #ffebeb;
		width: 100%;
		text-align: center;
		margin: 10px auto;
		position: relative;
		display: block;
		font-size: 15px;
	}
	.container {
		width: 70%;
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	input[type="email"]::placeholder {
		color: #ee8189;
	}
	input[type="password"]::placeholder {
		color: #ee8189;
	}
	label {
		color: #ebecff;
		cursor: pointer;
		input[type="checkbox"] {
			position: relative;
			top: 3px;
		}
	}

	.options {
		font-size: 13px;
		margin-top: 20px;
		a {
			color: #ebecff !important;
			cursor: pointer;
		}
		span {
			color: #ebecff;
			font-size: 24px;
			display: inline;
			position: relative;
			top: 3px;
		}
	}

	.btn-enter {
		width: 100%;
		padding: 15px;
		position: relative;
		background-color: #f04e53;
		text-transform: uppercase;
		color: #ebecff;
		font-size: 18px;
		z-index: 2;
		border: 2px solid;
		margin-top: 20px;
		border-radius: 10px;
	}
	.btn-enter:active {
		background-color: #ff252c;
	}

	.social-links {
		margin-bottom: 20px;
	    position: relative;
	    width: 100%;
	    bottom: 0;
	    color: #ebecff;
	    margin-top: 50px;
		.icons {
			margin-top: 40px;
			div {
				position: relative;
				z-index: 10;
				float: left;
				width: 100%;
				i {
					font-size: 32px;
					// display: block;
					color: #ebecff;
				}
			}
		}
		.icons:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
}
