page-users {
	.loader {
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		img {
			position: relative;
		    margin: 0 auto;
		    display: block;
		    top: 200px;
		}
	}
	.bg-users {
		background-color: #f5f5ff;
		min-height: 100vh;
		// margin-bottom: -56px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		.bg-map {
			min-height: 150px;
			background-image: url('../assets/img/fondo-registro.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			// margin-bottom: 90px;
			h6 {
				padding-top: 40px;
				letter-spacing: 1px;
				margin-top: 0;
				font-weight: 100;
				text-align: center;
				color:#ebecff;
			}
			.input-group {
				display: block;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				// background-color: #ebecff;
				border-radius: 6px;
				.form-control {
					width: 80%;
					border: none;
					border-radius: 6px 0 0 6px;
					padding: 12px;
					background-color: #ffebeb;
					color:#f04e53;
					float: left;
				}
				.input-group-addon {
					width: 20%;
					border-radius: 0 6px 6px 0;
					padding: 12px;
					background-color: #ffebeb;
					color:#f04e53;
					display: inline-block;
					text-align: right;
					float: left;
				}
			}
			:after {
				content: " ";
				display: table;
				clear: both;
			}
		}
		.photo-holder {
			width: 240px;
			height: 240px;
			border-radius: 100px;
			display: block;
			margin-right: auto;
			margin-left: auto;
			left: 0;
			right: 0;
			top: 50px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
		}
		img {
			top: 30px;
			display: block;
			margin-right: auto; 
			margin-left: auto; 
			left: 0;
			right: 0;
			position: absolute;
			width: 280px;
		}
		.container {
			width: 80%;
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			// padding-bottom: 20px;
			h4 {
				font-size: 14px;
				text-align: center;
				color: #f04e53;
				margin-top: 55px;
				margin-bottom: 0;
			}
			h2 {
				text-align: center;
				color: #f04e53;
				font-weight: 700;
				font-size: 34px;
				margin: 0;
			}
			h3 {
				text-align: center;
				color: #f04e53;
				font-weight: 700;
				font-size: 24px;
				// margin: 0;
			}
		}
		.container-2 {
			width: 100%;
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			ion-card {
				margin: 30px 0;
				width: 100%;
				background-color: #ffebeb;
				box-shadow: none;
				overflow: visible;
				position: relative;
				ion-card-header {
					width: 75%;
					float: left;
					padding: 21px;
					color: #f04e53;
					img {
						width: 30px;
						position: absolute;
						right: 20px;
						top: 8px;
						margin-right: unset;
					}
				}
				.image-container {
					height: 61px;
					width: 25%;
					float: left;
					position: relative;
					.profile-image {
						background-size: cover;
						background-position: center;
						padding: 35px;
						border:4px solid #f04e53;
						border-radius: 50px;
						position: absolute;
						left: 15px;
						top: -8px;
					}
					.connected {
						border-color: #e4cd2c !important;
					}
				}
			}:after {
				content: " ";
				display: table;
				clear: both;
			}
		}
		.btn-enter {
			width: 100%;
			padding: 15px;
			position: relative;
			background-color: #f04e53;
			text-transform: uppercase;
			color: #ebecff;
			font-size: 18px;
			z-index: 2;
			border: none;
			margin-top: 20px;
			border-radius: 10px;
			margin-bottom: 20px !important;
		}
		.btn-enter:active {
			background-color: #ff252c;
		}
		.btn-enter-o {
			width: 100%;
			padding: 13px;
			position: relative;
			background-color: #ffebeb;
			text-transform: uppercase;
			color: #f04e53;
			font-size: 18px;
			z-index: 2;
			border: 2px solid #f04e53;
			margin-top: 20px;
			border-radius: 10px;
			margin-bottom: 20px !important;
		}
		.btn-enter-o:active {
			background-color: #ccc;
		}
	}
	// .bg-users:before {
	//     content: " ";
	//     position: absolute;
	//     width: 200%;
	//     height: 175px;
	//     background-color: #f04e53;
	//     display: block;
	//     transform: rotate(-50deg);
	//     right: -100px;
	//     top: -150px;
	//     border-bottom: 50px solid #f26558;
	//     z-index: 0;
	// }
	.toolbar-title {
		overflow: unset;
	}

	.user-name {
		position: relative;
		top: -5px;
    	margin-left: 10px;
	}

	.user-profile {
		width: 40px;
		height: 40px;
		position: relative;
		display: inline-block;
		margin-bottom: -7px;
		background-size: cover;
		background-position: center;
		border-radius: 50px;
		box-shadow: 0 0 8px rgba(#000,.5);
		background-color: #d93a3d;
	}
}